export ROL_ESTUDIANTE = "estudiante"
export ROL_PROFESOR = "profesor"
export URL_MONGO_FAMED = "mongodb+srv://user:MlUbLvrzfEYUDu6O@famed.dbhrq.mongodb.net/?retryWrites=true&w=majority&appName=FAMED"
