.sidebar {
    width: 250px;
    background-color: #2196f3;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  
.title {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.link {
    color: white;
    text-decoration: none;
    margin: 10px 0;
}

.studentsButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 0 10px 0;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.studentsButton:hover {
    background-color: #555;
}
  
.logoutButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
    margin-bottom: 15px;
    width: 100%;
}
  
.logoutButton:hover {
    background-color: #555;
}
  
@media (max-width: 768px) {
.app-container {
  flex-direction: column;
}
  
.sidebar {
  width: 100%;
  order: -1;
}
  
.main-content {
  padding: 10px;
}
}
  
.bottom {
    margin-top: auto;
}
